.carousel {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 640px;
  height: 640px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
  background-color: #121212 !important;
}

.carousel-caption {
  background-color: #181818;
  border-radius: 20px;
  opacity: 0.4;
  padding: 10px 0;
  transition: 0.3s;
}

.carousel-caption:hover {
  opacity: 0.85;
}

.carousel-indicators {
  margin: 0 5% -25px;
}

.carousel-control-next,
.carousel-control-prev {
  cursor: default;
  margin: 40% 0px;
  height: 20%;
  width: 60px;
  transition: 0.3s;
  border-radius: 5px;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: #181818;
  opacity: 0.4;
}

.list-image.gallery {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 640px;
  max-height: 640px;
}

.carousel-caption p {
  font-weight: bold;
  display: inline;
  line-height: 20px;
}

.link.gallery {
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}

.info.gallery {
  color: #aaaaaa;
  font-size: 14px;
  line-height: 14px;
}

.gallery.genres:hover {
  color: #aaaaaa !important;
}

@media screen and (max-width: 600px) {
  .carousel {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 95vw;
    height: 95vw;
  }

  .carousel-caption {
    left: 10%;
    right: 10%;
    border-radius: 15px;
    padding: 5px 0;
    opacity: 0.8;
  }

  .carousel-caption:hover {
    opacity: 0.8;
  }

  .carousel-indicators {
    margin: 0 -1vw -25px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 30px;
    background-color: #181818;
    opacity: 0.15;
  }

  .carousel-control-next:hover,
  .carousel-control-prev:hover {
    opacity: 0.15;
  }

  .list-image.gallery {
    max-width: 95vw;
    max-height: 95vw;
  }

  .carousel-caption p {
    font-size: 14px;
    line-height: 16px;
  }

  .link.gallery {
    font-size: 16px;
    line-height: 16px;
  }

  .info.gallery {
    font-size: 12px;
    line-height: 12px;
  }
}
