.list-group-item {
  background-color: #f3f3f3;
}

.info-container {
  display: inline-block;
}

.link {
  color: #17a2b8;
}

.link:hover {
  color: #0f6f89 !important;
  text-decoration: none;
}

.info {
  color: #999999;
}

.info:hover {
  color: #888888 !important;
  text-decoration: none;
}

.genres {
  margin-bottom: 0px;
}

.genres:hover {
  color: #999999 !important;
}

.list-group-item.large {
  border: #555555 solid 3px;
}

.rank.large {
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}

.list-image.large {
  display: inline-block;
  float: right;
  width: 20%;
  height: auto;
}

.info-container.large {
  max-width: 80%;
}

.link.large {
  line-height: 52px;
  display: inline-block;
  font-size: 50px;
}

.info.large {
  color: #999999;
  font-size: 22px;
}

.list-group-item.medium {
  border: #555555 solid 2px;
  padding: 10px 10px;
}

.rank.medium {
  display: inline-block;
  font-size: 20px;
  line-height: 32px;
  vertical-align: top;
  font-weight: bold;
  margin-right: 12px;
  margin-bottom: 0px;
  width: 20px;
}

.list-image.medium {
  display: inline-block;
  float: right;
  width: 10%;
  height: auto;
}

.info-container.medium {
  max-width: 80%;
}

.link.medium {
  line-height: 32px;
  display: inline-block;
  font-size: 30px;
}

.info.medium {
  color: #999999;
  font-size: 16px;
}

.list-group-item.small {
  border: #555555 solid 1px;
  padding: 10px 10px;
}

.rank.small {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  vertical-align: top;
  font-weight: bold;
  margin-right: 12px;
  margin-bottom: 0px;
  width: 20px;
}

.info-container.small {
  max-width: 95%;
}

.link.small {
  line-height: 30px;
  display: inline-block;
  font-size: 30px;
}

.info.small {
  display: inline-block;
  color: #999999;
  font-size: 16px;
  line-height: 18px;
}

.list-image.small {
  display: none;
}

@media screen and (max-width: 600px) {
  .list-group-item.large {
    border-width: 1.5px;
    padding: 2%;
  }

  .rank.large {
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    vertical-align: top;
    margin: 0 3% 0 0;
  }

  .list-image.large {
    width: 20%;
  }

  .info-container.large {
    max-width: 65%;
  }

  .link.large {
    line-height: 20px;
    font-size: 20px;
  }

  .info.large {
    font-size: 14px;
    line-height: 14px;
  }

  .list-group-item.small {
    border-width: 1.5px;
    padding: 2%;
  }

  .rank.small {
    font-size: 14px;
    line-height: 16px;
    margin: 0 2% 0 0;
  }

  .info-container.small {
    max-width: 90%;
  }

  .link.small {
    line-height: 16px;
    font-size: 16px;
  }

  .info.small {
    font-size: 12px;
    line-height: 12px;
  }
}
